<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
        <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler" />
      </sectionGroup>
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="ProfitContenedor.Properties.Settings.Profit_RGConnectionString" connectionString="Data Source=172.16.1.4;Initial Catalog=Profit_RG;User ID=profit;Password=profit" providerName="System.Data.SqlClient" />
    <add name="Profit_RGEntities" connectionString="metadata=res://*/Profit_RG.csdl|res://*/Profit_RG.ssdl|res://*/Profit_RG.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.4;initial catalog=Profit_RG;user id=profit;password=profit;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Profit_RG_2K12Entities" connectionString="metadata=res://*/Profit_RG2K12.csdl|res://*/Profit_RG2K12.ssdl|res://*/Profit_RG2K12.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RGTECHSERVER\SQLEXPRESS;initial catalog=Profit_RG_2K12;persist security info=True;user id=profit;password=profit;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>